[sources.vector-main]
type = "vector"
address = "51.250.90.50:9000"
version = "1"


[sinks.Clickhouse-sink]
type = "clickhouse"
inputs = [ "vector-main" ]
database = "mydatabase"
endpoint = "http://51.250.87.130/"
table = "mytable"
compression = "gzip"

[sinks.lighthouse-sink]
type = "clickhouse"
inputs = [ "vector-main" ]
database = "mydatabase"
endpoint = "http://51.250.87.130/"
table = "mytable"
compression = "gzip"